.home-body{

}
.playlist-single-song{
    height: 500px;
    width: 500px;
    border: 1px solid;
    margin: 10px;
    gap:100px;
}
.song-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.playlist-single-song{
    width: 200px;
    height: 335px;
    font-size: medium;
}